<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<form th:method="POST" th:action="@{/sts/spotify-to-spotify}">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <button type="submit">Submit</button>
</form>

<br>
<br>

<div th:each="playlist : ${playlists}">
    <br>
    <a th:if="${playlist != null}"
       th:href="@{/{name}(name=${playlist.getName()})}"
       th:text="${playlist.getName()}">playlist</a>
</div>
<br>
<br>
<div>
    <a th:href="@{/showLikedSongs}"
       th:text="LikedSongs">

    </a>
</div>
<br>
<br>
<form th:id="deleteForm" th:method="POST" th:action="@{/sts/delete-ls}">
    <button type="submit">Delete Liked Songs</button>
</form>
<script>
    $(document).ready(function () {
        $("#deleteForm").submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: "DELETE",
                url: form.attr("action"),
            });
        });
    });
</script>
</body>
</html>