<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/sts/spotify-to-spotify}">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <button type="submit">Submit</button>
</form>

<br>
<br>

<div th:each="playlist : ${playlists}">
    <br>
    <a th:if="${playlist != null}"
       th:href="@{/sts/{name}(name=${playlist.getName()})}"
       th:text="${playlist.getName()}">playlist</a>
</div>
</body>
</html>